:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --subtext-color: #666;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(163, 191, 194) 2c2;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
